<html>
<head>
  <title>Example API documentation - GSA</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <link rel="stylesheet" href="static/css/normalize.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% if page.title == 'Console' %}
  <!-- console included -->
    {% include swagger_console.html %}
  {% else %}
    <link rel="stylesheet" href="static/css/style.css">
  {% endif %}
</head>
{% if page.title == 'Console' %}
<body class="swagger-section" id="console">
{% else %}
<body>
{% endif %}


  <header class="header cf" role="banner">
      {% include header.html %}
  </header>

  <div class="wrap">
    <div class="content">

    <aside>
    {% include nav.html %}
    </aside>

    <section class="main-content" role="main">
      {{ content }}
    </section>

    </div>
  </div> <!--wrap-->

    <footer class="footer cf" role="contentinfo">
      <div class="wrap">
        {% include footer.html %}
      </div>
    </footer>
    <!-- the following js files cause conflicts with Swagger -->
    {% if page.title != 'Console' %}
  <script src="static/js/docs.min.js"></script>
  <script type="text/javascript" src="static/js/expandables.js"></script>
  {% endif %}
</body>
</html>
